
<h1>The basics</h1>
<h2>Basic politeness</h2>
<ul>
  <li>welcome</li>
  <li>hello / good morning</li>
  <li>bye bye</li>
  <li>have a nice day</li>
  <li>please / thanks</li>
  <li>excuse me</li>
  <li>may you help me?</li>
  <li>enjoy your game</li>
  <li>I speak English</li>
</ul>
<br/>
<h2>Common places to know</h2>
<ul>
  <li>venue</li>
  <li>gender-neutral toilets</li>
  <li>information desk</li>
  <li>lost and found items</li>
  <li>main stage<br/>/ side events stage</li>
  <li>pairing board</li>
  <li>prize station</li>
  <li>land station</li>
  <li>cash machine</li>
  <li>retailers area</li>
  <li>judge dinner</li>
  <li>parking area</li>
</ul>
<br/>
<h2>Health issues</h2>
<ul>
  <li>do you feel well?</li>
  <li>do you want to go outside?</li>
  <li>do you need some medical assistance?</li>
  <li>is there anyone there that we should inform?</li>
  <li>your nose is bleeding</li>
  <li>do you have asthma?<br/>where is your nebulizer?</li>
  <li>are you allergic to something here?</li>
  <li>vegetarian / vegetalian / vegan</li>
</ul>
