
<h1>Les bases</h1>
<h2>Politesse de base</h2>
<ul>
  <li>bienvenue</li>
  <li>salut / bonjour</li>
  <li>au revoir / salut</li>
  <li>passez une bonne journée</li>
  <li>s'il-vous-plaît / merci</li>
  <li>excusez-moi</li>
  <li>pouvez-vous m'aider ?</li>
  <li>bonne partie</li>
  <li>Je parle français</li>
</ul>
<br/>
<h2>Lieux courants à connaître</h2>
<ul>
  <li>salle</li>
  <li>toilettes mixtes</li>
  <li>accueil / bureau d'information</li>
  <li>objets trouvés</li>
  <li>table d'arbitrage du tournoi principal<br/>/ des tournois secondaires</li>
  <li>panneau d'affichage</li>
  <li>table de distribution des lots</li>
  <li>table des terrains de base</li>
  <li>distributeur de billets</li>
  <li>zone des vendeurs</li>
  <li>dîner des arbitres</li>
  <li>parking</li>
</ul>
<br/>
<h2>Questions de santé</h2>
<ul>
  <li>vous sentez-vous bien ?</li>
  <li>voulez-vous aller prendre l'air ?</li>
  <li>avez-vous besoin d'assistance médicale ?</li>
  <li>devons-nous prévenir quelqu'un ?<br/>.</li>
  <li>vous saignez du nez</li>
  <li>avez-vous de l'asthme ?<br/>où est votre nébulisateur ?</li>
  <li>es-tu allergique à quelque chose ?</li>
  <li>végétarien / végétalien / végane</li>
</ul>
