
<h1>Le nozioni di base</h1>
<h2>Gentilezza di base</h2>
<ul>
  <li>benvenuto</li>
  <li>ciao / buongiorno</li>
  <li>ciao ciao</li>
  <li>buona giornata</li>
  <li>per favore / grazie</li>
  <li>scusami</li>
  <li>puoi aiutarmi?</li>
  <li>buona partita</li>
  <li>Parlo italiano</li>
</ul>
<br/>
<h2>Luoghi comuni da sapere</h2>
<ul>
  <li>sala</li>
  <li>bagni misti</li>
  <li>punto informazioni</li>
  <li>oggetti smarriti</li>
  <li>tavolo degli arbitir del main event<br/>/ dei side event</li>
  <li>tabelloni degli abbinamenti</li>
  <li>tavolo dei premi</li>
  <li>tavolo delle terre</li>
  <li>bancomat</li>
  <li>zona dei venditori</li>
  <li>cena degli arbitri</li>
  <li>parcheggio</li>
</ul>
<br/>
<h2>Problemi di salute</h2>
<ul>
  <li>stai bene?</li>
  <li>vuoi uscire?</li>
  <li>ti serve il pronto soccorso?<br/>.</li>
  <li>c'è qualcuno qui che dovrei avvisare?<br/>.</li>
  <li>ti sanguina il naso</li>
  <li>hai l'asma? dov'è il tuo inalatore?<br/>.</li>
  <li>sei allergico a qualcosa?</li>
  <li>vegetariano / vegetaliano / vegano</li>
</ul>
