
<h1>Los conceptos básicos</h1>
<h2>Cortesía básica</h2>
<ul>
  <li>bienvenido</li>
  <li>hola / buenos días</li>
  <li>adiós / hasta luego</li>
  <li>que tengas un buen día</li>
  <li>por favor / gracias</li>
  <li>perdón</li>
  <li>¿puedes ayudarme?</li>
  <li>disfruta de tu partida / diviértete</li>
  <li>Hablo español / castellano</li>
</ul>
<br/>
<h2>Lugares comunes a saber</h2>
<ul>
  <li>sala</li>
  <li>servicios unisex / mixtos</li>
  <li>mesa de información</li>
  <li>objetos perdidos</li>
  <li>mesa de jueces del evento principal<br/>/ de los eventos paralelos</li>
  <li>tablón de emparejamientos</li>
  <li>mesa de premios</li>
  <li>mesa de tierras</li>
  <li>cajero automático</li>
  <li>zona de tiendas</li>
  <li>cena de jueces</li>
  <li>aparcamiento</li>
</ul>
<br/>
<h2>Problemas de salud</h2>
<ul>
  <li>¿te encuentras bien?</li>
  <li>¿quieres salir?</li>
  <li>¿necesitas asistencia médica?<br/>.</li>
  <li>¿hay alguien a quién debamos informar?</li>
  <li>tu nariz está sangrando</li>
  <li>¿tienes asma?<br/>¿dónde está tu inhalador?</li>
  <li>¿tienes alergia a algo de aquí?</li>
  <li>vegetariano / vegetaliano / vegano</li>
</ul>
