
<h1>IPG - Português</h1>
<br/>
<h2>erro de jogo</h2>
<ul>
  <li>habilidade desencadeada esquecida<br/>.</li>
  <li>olhar cards extras</li>
  <li>erro de card oculto<br/>.</li>
  <li>erro no procedimento de mulligan</li>
  <li>violação de regra do jogo</li>
  <li>falha em manter o estado de jogo<br/>.</li>
</ul>
<br/>
<br/>
<br/>
<h2>erro de torneio</h2>
<ul>
  <li>atraso</li>
  <li>ajuda externa</li>
  <li>jogo lento</li>
  <li>embaralhamento insuficiente</li>
  <li>problema de deck/listagem do deck</li>
  <li>violação do procedimento<br/>de limitado</li>
  <li>violação da política de comunicação<br/>.</li>
  <li>cards marcados</li>
</ul>
<br/>
<br/>
<br/>
<h2>condutas antidesportivas</h2>
<ul>
  <li>leve</li>
  <li>grave</li>
  <li>determinar um vencedor<br/>de forma imprópria</li>
  <li>suborno e aposta</li>
  <li>comportamento agressivo</li>
  <li>furto de material de torneio</li>
  <li>protelar</li>
  <li>trapaça</li>
</ul>
