
<h1>IPG - Español</h1>
<br/>
<h2>error de juego</h2>
<ul>
  <li>disparo olvidado<br/>.</li>
  <li>mirar cartas adicionales</li>
  <li>error de carta oculta<br/>.</li>
  <li>error de procedimiento de mulligan</li>
  <li>violación de regla de juego</li>
  <li>no mantener el estado de juego<br/>.</li>
</ul>
<br/>
<br/>
<br/>
<h2>error de torneo</h2>
<ul>
  <li>tardanza</li>
  <li>ayuda externa</li>
  <li>juego lento</li>
  <li>barajar insuficientemente</li>
  <li>problema de mazo o lista de mazo</li>
  <li>violación del procedimiento de limitado<br/>.</li>
  <li>violación de la política<br/>de comunicación</li>
  <li>cartas marcadas</li>
</ul>
<br/>
<br/>
<br/>
<h2>conducta antideportiva</h2>
<ul>
  <li>menor</li>
  <li>mayor</li>
  <li>determinar incorrectamente<br/>un ganador</li>
  <li>soborno y apuestas</li>
  <li>comportamiento agresivo</li>
  <li>robo de material de torneo</li>
  <li>demorar la partida</li>
  <li>hacer trampa</li>
</ul>
