<h1>IPG - English</h1>
<br/>
<h2>game play error</h2>
<ul>
  <li>missed trigger<br/>.</li>
  <li>looking at extra cards</li>
  <li>hidden card error<br/>.</li>
  <li>mulligan procedure error</li>
  <li>game rule violation</li>
  <li>failure to maintain game state<br/>.</li>
</ul>
<br/>
<br/>
<br/>
<h2>tournament error</h2>
<ul>
  <li>tardiness</li>
  <li>outside assistance</li>
  <li>slow play</li>
  <li>insufficient shuffling</li>
  <li>deck/decklist problem</li>
  <li>limited procedure violation<br/>.</li>
  <li>communication policy violation<br/>.</li>
  <li>marked cards</li>
</ul>
<br/>
<br/>
<br/>
<h2>unsporting conduct</h2>
<ul>
  <li>minor</li>
  <li>major</li>
  <li>improperly determining a winner<br/>.</li>
  <li>bribery and wagering</li>
  <li>aggressive behavior</li>
  <li>theft of tournament material</li>
  <li>stalling</li>
  <li>cheating</li>
</ul>
