
<h1>IPG - Deutsch</h1>
<br/>
<h2>Spielfehler</h2>
<ul>
  <li>Ausgelöste Fähigkeit vergessen<br/>.</li>
  <li>Extrakarten ansehen</li>
  <li>Verdeckter Kartenfehler<br/>.</li>
  <li>Mulligan-Verfahrensfehler</li>
  <li>Spielregelverstoß</li>
  <li>Versäumnis den Spielzustand<br/>aufrechtzuerhalten</li>
</ul>
<br/>
<br/>
<br/>
<h2>Turnierfehler</h2>
<ul>
  <li>Unpünktlichkeit</li>
  <li>Hilfe von Außen</li>
  <li>Langsames Spielen</li>
  <li>Unzureichendes Mischen</li>
  <li>Deck/Decklisten-Problem</li>
  <li>Limited-Verfahrensfehler<br/>.</li>
  <li>Missachtung der<br/>Kommunikationsregeln</li>
  <li>Markierte Karten</li>
</ul>
<br/>
<br/>
<br/>
<h2>Unsportliches Verhalten</h2>
<ul>
  <li>Geringfügige Unsportlichkeit</li>
  <li>Grobe Unsportlichkeit</li>
  <li>Unzulässiges Bestimmen<br/>eines Gewinners</li>
  <li>Bestechung und Wetten</li>
  <li>Aggressives Verhalten</li>
  <li>Diebstahl von Turniermaterial</li>
  <li>Zeitspiel</li>
  <li>Betrug</li>
</ul>
