
<h1>IPG - 中文 (Chinese)</h1>
<br/>
<h2>游戏行动失误</h2>
<ul>
  <li>遗漏触发<br/>.</li>
  <li>额外看牌</li>
  <li>非公开牌张失误<br/>.</li>
  <li>再调度失误</li>
  <li>违反游戏规则</li>
  <li>未维护游戏状态<br/>.</li>
</ul>
<br/>
<br/>
<br/>
<h2>比赛失误</h2>
<ul>
  <li>迟到</li>
  <li>外来协助</li>
  <li>游戏进行过慢</li>
  <li>未充分洗牌</li>
  <li>套牌／套牌登记表问题</li>
  <li>违反限制赛流程<br/>.</li>
  <li>违反交流原则<br/>.</li>
  <li>有记号的牌</li>
</ul>
<br/>
<br/>
<br/>
<h2>举止违背运动道德</h2>
<ul>
  <li>轻微</li>
  <li>严重</li>
  <li>不当决定胜方<br/>.</li>
  <li>贿赂与赌博</li>
  <li>攻击性举止</li>
  <li>窃取比赛用品</li>
  <li>拖延</li>
  <li>作弊</li>
</ul>
