
<h1>IPG - 日本語 (Japanese)</h1>
<br/>
<h2>ゲーム上の誤り</h2>
<ul>
  <li>誘発忘れ<br/>.</li>
  <li>過剰なカードを見た</li>
  <li>非公開カードに関する誤り<br/>.</li>
  <li>マリガン手順の誤り</li>
  <li>その他一般のゲームルール抵触行為</li>
  <li>違反の見逃し<br/>.</li>
</ul>
<br/>
<br/>
<br/>
<h2>イベント上の誤り</h2>
<ul>
  <li>遅刻</li>
  <li>外部情報の参照</li>
  <li>遅いプレイ</li>
  <li>不充分な切り直し</li>
  <li>デッキ／リストの問題</li>
  <li>リミテッド手順抵触行為<br/>.</li>
  <li>意思疎通規定抵触行為<br/>.</li>
  <li>区別できるカード</li>
</ul>
<br/>
<br/>
<br/>
<h2>非紳士的行為</h2>
<ul>
  <li>軽度</li>
  <li>重度</li>
  <li>結果の捏造<br/>.</li>
  <li>買収・賭博</li>
  <li>攻撃的行為</li>
  <li>イベント物品の窃盗</li>
  <li>遅延行為</li>
  <li>故意の違反</li>
</ul>
