
<h1>IPG - Italiano</h1>
<br/>
<h2>errore di gioco</h2>
<ul>
  <li>abilità innescata dimenticata<br/>.</li>
  <li>guardare carte addizionali</li>
  <li>errore con carte nascoste<br/>.</li>
  <li>errore nella procedura di mulligan</li>
  <li>violazione delle regole di gioco</li>
  <li>incapacità a mantenere<br/>lo stato del gioco</li>
</ul>
<br/>
<br/>
<br/>
<h2>errore di torneo</h2>
<ul>
  <li>ritardo</li>
  <li>aiuto esterno</li>
  <li>gioco lento</li>
  <li>mescolata insufficiente</li>
  <li>problemi di mazzo/lista</li>
  <li>violazione delle<br/>procedure limited</li>
  <li>violazione delle regole<br/>di comunicazione</li>
  <li>carte segnate</li>
</ul>
<br/>
<br/>
<br/>
<h2>condotta antisportiva</h2>
<ul>
  <li>minore</li>
  <li>maggiore</li>
  <li>scelta impropria del<br/>vincitore dell’incontro</li>
  <li>corruzione e scommesse</li>
  <li>comportamento aggressivo</li>
  <li>furto di materiale da torneo</li>
  <li>stallo</li>
  <li>barare</li>
</ul>
