
<h1>IPG - Русский (Russian)</h1>
<br/>
<h2>Игровое нарушение</h2>
<ul>
  <li>Пропущенная срабатывающая<br/>способность</li>
  <li>Просмотр лишних карт</li>
  <li>Ошибка, связанная<br/>с неизвестной картой</li>
  <li>Ошибка при пересдаче</li>
  <li>Нарушение правил игры</li>
  <li>Невнимательность<br/>к состоянию игры</li>
</ul>
<br/>
<br/>
<br/>
<h2>Турнирное нарушение</h2>
<ul>
  <li>Опоздание</li>
  <li>Посторонняя помощь</li>
  <li>Медленная игра</li>
  <li>Недостаточное перетасовывание</li>
  <li>Проблема с колодой или реестром</li>
  <li>Нарушение процедуры<br/>ограниченного формата</li>
  <li>Нарушение правил общения<br/>.</li>
  <li>Меченые карты</li>
</ul>
<br/>
<br/>
<br/>
<h2>Неспортивное поведение</h2>
<ul>
  <li>Несущественное</li>
  <li>Существенное</li>
  <li>Определение победителя<br/>ненадлежащим образом</li>
  <li>Подкуп или пари</li>
  <li>Агрессивные действия</li>
  <li>Кража турнирного имущества</li>
  <li>Затягивание времени</li>
  <li>Жульничество</li>
</ul>
