
<h1>IPG - Français</h1>
<br/>
<h2>erreur relative au jeu</h2>
<ul>
  <li>capacité déclenchée manquée<br/>.</li>
  <li>observation de cartes supplémentaires</li>
  <li>erreur liée à une carte cachée<br/>.</li>
  <li>erreur lors de la procédure de mulligan</li>
  <li>violation d’une règle du jeu</li>
  <li>échec à conserver<br/>un état de la partie légal</li>
</ul>
<br/>
<br/>
<br/>
<h2>erreurs relatives au tournoi</h2>
<ul>
  <li>retard</li>
  <li>assistance extérieure</li>
  <li>rythme de jeu trop lent</li>
  <li>mélange insuffisant</li>
  <li>problème de deck ou de liste de deck</li>
  <li>violation des procédures<br/>en format limité</li>
  <li>violation des règles de communication<br/>.</li>
  <li>cartes marquées</li>
</ul>
<br/>
<br/>
<br/>
<h2>conduite antisportive</h2>
<ul>
  <li>mineure</li>
  <li>majeure</li>
  <li>détermination inappropriée<br/>d’un vainqueur</li>
  <li>corruption et paris</li>
  <li>comportement agressif</li>
  <li>vol de matériel de tournoi</li>
  <li>abus de la limite de temps</li>
  <li>triche</li>
</ul>
