
<h1>Frases útiles (4/4)</h1>
<ul>
  <li>Estos son los cuadros de eliminatoria para este evento, también los necesitaréis para conseguir vuestros premios: después de ganar una ronda, y cuando perdáis o lleguéis a la final, llevadlos a la mesa de jueces de eventos bajo demanda, recoged allí vuestros premios y traed de nuevo a la mesa la hoja para el resto de jugadores.</li>
  <li>¿Todo el mundo sabe como draftear?</li>
  <li>La mesa de tierras está por allí. Por favor, devolved vuestras tierras básicas al terminar el evento.</li>
  <li>Esta es mi decisión final. ¿Quieres apelar al juez principal?</li>
  <li>Entiendo que lo que ha ocurrido en este juego es lo siguiente.</li>
  <li>Esa es una buena pregunta.</li>
  <li>Voy a traducir nuestro diálogo para su oponente.</li>
  <li>Vamos a jugar a Judge Tower.</li>
  <li>...</li>
</ul>
