
<h1>Useful sentences (1/4)</h1>
<ul>
  <li>Pairings have been posted. Please find your seat.<br/>.</li>
  <li>Pairings have been posted online, you can check them at [website].<br/>.</li>
  <li>Standings have been posted.<br/>.</li>
  <li>This is time in the round. The active player finishes his turn, then you share five additional turns.</li>
  <li>How may I help you?</li>
  <li>Follow me.</li>
  <li>Whose turn is it?</li>
  <li>How much time is left in the round?<br/>.</li>
  <li>When does the round end?</li>
  <li>Do you want to ask me your question away from the table?</li>
  <li>I would like to talk to each of you one at a time.</li>
  <li>You have been chosen for a deck check. Please give me your deck, your sideboard and your deckbox.<br/>.</li>
  <li>There was a problem with your deck, please follow me to the deck check station.</li>
  <li>There wasn't any problems with your decks. We had to sort them for the deck check, so you will need to shuffle them very thoroughly, and you will be given ten minutes as time extension for your match.</li>
  <li>Judge, where do I put my result slip please?</li>
  <li>The box for the result slips is right there.</li>
  <li>Please bring it to the scorekeeper at the main event stage, which is over there.</li>
</ul>
