
<h1>Frasi utili (2/4)</h1>
<ul>
  <li>Eccoti il testo Oracle di questa carta.<br/>.</li>
  <li>Queste bustine sono segnate.</li>
  <li>Devi cambiare le bustine prima dell'inizio del prossimo turno.<br/>.</li>
  <li>Per giocare carte a doppia faccia, devi avere bustine opache oppure devi usare le checklist.<br/>.</li>
  <li>Arbitro, il mio avversario non è qui.</li>
  <li>Chiama un arbitro quando l'orologio segna quaranta minuti oppure quando arriva il tuo avversario. Se arriva prima che l'orologio segni quaranta minuti, avrai vinto la prima partita e riceverete tempo addizionale; altrimenti avrai vinto l'intero incontro.</li>
  <li>Sei in ritardo di cinque minuti, hai perso la prima partita.<br/>.</li>
  <li>Sono passati dieci minuti e il tuo avversario non è ancora arrivato, quindi hai vinto l'incontro. Puoi per favore segnare due a zero per te e e firmare il foglietto?</li>
  <li>Vi ricordo che non potete offrire niente in cambio di una concessione.<br/>.<br/>.</li>
  <li>Non vi è permesso usare metodi casuali per determinare il vincitore dell'incontro, come lanciare dadi o rivelare carte dalla cima del mazzo.<br/>.</li>
  <li>Se avete domande su cosa potete o non potete dire al vostro avversario, potete farmele solo lontano dal tavolo.</li>
</ul>
