
<h1>Frasi utili (1/4)</h1>
<ul>
  <li>Gli abbinamenti sono stati appesi, per favore sedetevi al vostro posto.<br/>.</li>
  <li>Gli abbinamenti sono online, li potete trovare su [sito].<br/>.</li>
  <li>La classifica è stata appesa.<br/>.</li>
  <li>Fine del tempo, il giocatore attivo finisce il proprio turno dopodichè si giocano cinque turni addizionali.</li>
  <li>Come posso aiutarti?</li>
  <li>Seguimi.</li>
  <li>Di chi è il turno?</li>
  <li>Quanto tempo manca alla fine del turno?</li>
  <li>Quando finisce il turno?</li>
  <li>Vuoi farmi la domanda lontano dal tavolo?</li>
  <li>Vorrei parlare con ciascuno di voi, uno alla volta.</li>
  <li>Siete stati scelti per un controllo del mazzo, posso per favore avere i vostri mazzi e le vostre sideboard.<br/>.</li>
  <li>C'è stato un problema con il tuo mazzo, puoi per favore seguirmi fino al tavolo del controllo dei mazzi?</li>
  <li>Non ci sono stati problemi con i vostri mazzi, però per controllarli abbiamo dovuto ordinarli, quindi adesso dovete mischiarli molto bene. Per finire il vostro match avrete dieci minuti addizionali dopo la fine del tempo.</li>
  <li>Arbitro, dove posso mettere il mio foglietto dei risultati?</li>
  <li>La scatola per i risultati è proprio qua.<br/>.</li>
  <li>Per favore, portala allo scorekeeper al amin stage, è proprio là.</li>
</ul>
