
<h1>Phrases utiles (1/4)</h1>
<ul>
  <li>Les appariements de la ronde sont affichés. Merci d'aller vous asseoir.<br/>.</li>
  <li>Les appariements en ligne sont affichés sur [website].<br/>.</li>
  <li>Le classement est affiché.<br/>.</li>
  <li>C'est la fin de la ronde. Le joueur actif finit son tour et vous avez ensuite cinq tours additionnels à vous partager.</li>
  <li>Comment puis-je vous aider ?</li>
  <li>Suivez-moi.</li>
  <li>C'est le tour de qui ?</li>
  <li>Combien de temps reste-t-il dans la ronde ?</li>
  <li>La ronde se termine quand ?</li>
  <li>Voulez-vous me poser votre question à l'écart de la table ?</li>
  <li>Je voudrais parler à chacun de vous à tour de rôle.</li>
  <li>Vous avez été choisis pour un deckcheck. Puis-je avoir votre deck, votre sideboard et votre boîte de rangement ?</li>
  <li>Il y a un souci avec votre deck, s'il-vous-plaît suivez-moi jusqu'à la table de deckcheck.</li>
  <li>Il n'y avait aucun souci avec vos decks. Comme on les a triés, faites attention de bien mélanger. Vous avez dix minutes supplémentaires.<br/>.<br/>.</li>
  <li>Arbitre, où dois-je mettre la feuille de résultat ?</li>
  <li>La boîte de résultats est juste là.<br/>.</li>
  <li>Merci de l'apporter au scorekeeper à la table du main event qui se trouve là-bas.</li>
</ul>
