
<h1>Frases útiles (1/4)</h1>
<ul>
  <li>Los emparejamientos han sido colgados. Por favor, buscad vuestro sitio.</li>
  <li>Los emparejamientos han sido publicados online, podéis verlos en [página web]</li>
  <li>La clasificación ha sido colgada / publicada.</li>
  <li>El tiempo de ronda ha finalizado. El jugador activo termina su turno y jugáis cinco turnos adicionales.</li>
  <li>¿Cómo puedo ayudarte?</li>
  <li>Sígueme.</li>
  <li>¿En qué turno estáis?</li>
  <li>¿Cuánto tiempo queda de ronda?<br/>.</li>
  <li>¿Cuándo termina la ronda?</li>
  <li>¿Quieres hacerme la pregunta lejos de la mesa?</li>
  <li>Me gustaría hablar con cada uno por separado.</li>
  <li>Habéis sido seleccionados para una comprobación de mazo. Por favor, entregadme vuestros mazos, vuestros banquillos y vuestra caja de mazo.</li>
  <li>Hay un problema con tu mazo, por favor sígueme a la mesa de comprobaciones de mazos.</li>
  <li>No hay ningún problema con vuestros mazos. Hemos tenido que ordenarlos, así que tendrés que mezclarlos muy bien, y os daremos diez minutos adicionales para vuestra partida.<br/>.</li>
  <li>Juez, ¿dónde dejo mi hoja de resultados?</li>
  <li>La caja para las hojas de resultado está aquí.</li>
  <li>Por favor, llévala al scorekeeper en la mesa de jueces del evento principal, que está por allí.</li>
</ul>
