
<h1>Frasi utili (3/4)</h1>
<ul>
  <li>Puoi per favore passare il prodotto fino alla fine della fila?</li>
  <li>Chi non ha ancora ricevuto il tappetino?</li>
  <li>Come ti chiami?</li>
  <li>Puoi per favore scrivere il tuo nome qua?</li>
  <li>Compila questo modulo, scrivi il tuo problema e poi dallo allo scorekeeper, ci penserà lui.<br/>.</li>
  <li>Devo trovare un livello tre perchè confermi il mio ruling, siate pazienti.<br/>.</li>
  <li>Devo fare intervenire il capo arbitro in questa situazione, nel frattempo non parlatevi.</li>
  <li>Il mio nome è [X] e sarò il vostro capo arbitro per oggi.</li>
  <li>Avete cinquanta minuti e potete iniziare.</li>
  <li>Portate i vostri foglietti con i risultati al main stage.</li>
  <li>Questo portamazzo è inappropriato.</li>
  <li>Devi trovare un altro esemplare di questa carta, altrimenti dovrai sostituirla con una terra base a tua scelta.</li>
  <li>State attenti ai vostri averi, ci sono stati furti oggi. Vi consiglio di tenere lo zaino tra le gambe.<br/>.</li>
</ul>
