
<h1>Frases útiles (2/4)</h1>
<ul>
  <li>Este es el texto del Oracle de esta carta.</li>
  <li>Estas tres fundas están marcadas.</li>
  <li>Tendrás que cambiar estas fundas antes de que empiece la siguiente ronda.</li>
  <li>Has de tener fundas opacas para tus cartas de doble cara, o bien usar una carta de listado.<br/>.</li>
  <li>Juez, mi oponente no está aquí.</li>
  <li>Llama a un juez cuando el reloj llegue a 40 minutos o cuando tu oponente llegue. Si llega antes de llegar a 40 minutos, tendrá un juego perdido y se os dará una extensión de tiempo para vuestra partida. En caso contrario, ganarás la partida.</li>
  <li>Has llegado cinco minutos tarde. Recibirás un juego perdido por Tardanza.</li>
  <li>Han pasado diez minutos y tu oponente no ha llegado, así que ganas la partida. Por favor, rellena la hoja de resultados con un 2-0 para ti y fírmala.</li>
  <li>Por favor, permitidme recordaros que no podéis hacer ningún ofrecimiento a cambio de un resultado o una concesión.</li>
  <li>No está permitido usar ningún método aleatorio para determinar el ganador de una partida, como tirar un dado o revelar la carta superior de la biblioteca.</li>
  <li>Si tienes alguna pregunta sobre qué puedes o no puedes decir a tu oponente no dudes en preguntármelo, pero hazlo lejos de la mesa.</li>
</ul>
