
<h1>Phrases utiles (4/4)</h1>
<ul>
  <li>Voici votre feuille d'appariements pour cet évènement, vous en aurez aussi besoin pour récupérer vos lots : si vous gagnez un match, puis que vous perdez ou que vous êtes en finale, amenez cette feuille à la table des lots des ODE, récupérez-y vos lots et rapportez cette feuille à la table pour les autres joueurs.<br/>.</li>
  <li>Tout le monde sait-il drafter ?</li>
  <li>La table des terrains de base se trouve là-bas. Merci d'y rapporter vos terrains de base après l'évènement.</li>
  <li>C'est ma décision finale. Voulez-vous faire appel au Head-Judge ?</li>
  <li>Voici ce que je comprends de ce qu'il s'est passé dans la partie.</li>
  <li>C'est une bonne question.</li>
  <li>Je vais traduire notre dialogue à votre adversaire.</li>
  <li>Jouons au Dès Que.</li>
  <li>...</li>
</ul>
