
<h1>Frasi utili (4/4)</h1>
<ul>
  <li>Questi sono gli abbinamenti per questo torneo, vi serviranno anche per ritirare i premi: quando un giocatore perde un incontro, se ne ha vinto almeno uno prima, deve prendere il foglio e portarlo al tavolo dei premi per avere il suo premio, dopodichè deve riportare il foglio ai giocatori che rimangono nel torneo.<br/>.</li>
  <li>Tutti sanno come si drafta?</li>
  <li>La land station è la, per favore ricordatevi di riportare le terre dopo l'evento.</li>
  <li>Questa è la mia decisione. Vuoi appellarti al capo arbitro?</li>
  <li>Se ho ben capito, questo è ciò che è successo.</li>
  <li>Questa è una buona domanda.</li>
  <li>Tradurrò il nostro dialogo al tuo avversario.</li>
  <li>Giochiamo a judge tower.</li>
  <li>...</li>
</ul>
