
<h1>Phrases utiles (2/4)</h1>
<ul>
  <li>Voici le texte Oracle de cette carte.<br/>.</li>
  <li>Ces trois pochettes sont marquées.</li>
  <li>Il faudra changer ces pochettes avant le début de la prochaine ronde.<br/>.</li>
  <li>Pour vos cartes double face, vous devez soit avoir des pochettes opaques, soit les remplacer par des cartes check-list.</li>
  <li>Arbitre, mon adversaire n'est pas là.</li>
  <li>Appelez un arbitre quand le timer atteint 40 ou quand votre adversaire revient. S'il revient avant qu'il ne soit 40, il aura un Game Loss et on vous donnera une extension de temps pour votre match. S'il ne revient pas, vous gagnerez votre match.</li>
  <li>Vous êtes en retard de cinq minutes. Vous allez recevoir un Game Loss pour ce retard.</li>
  <li>Dix minutes se sont écoulées et votre adversaire n'est pas arrivé donc vous gagnez votre match. Merci de remplir la feuille de résultat comme si vous aviez gagné deux-zéro et de la signer.</li>
  <li>Permettez-moi de vous rappeler que vous n'avez pas le droit d'offrir quoi que ce soit en échange d'un résultat ou d'une concession.</li>
  <li>Vous n'avez pas le droit d'utiliser une méthode aléatoire pour déterminer le vainqueur de ce match, comme lancer un dé ou révéler la carte du dessus de votre bibliothèque.</li>
  <li>Si vous avez des questions sur ce que vous pouvez dire ou ne pas dire à votre adversaire, n'hésitez pas à me les poser mais faites-le à l'écart de la table.</li>
</ul>
