
<h1>Useful sentences (4/4)</h1>
<ul>
  <li>This is your brackets for this event, you will also need them to get your prizes: after you have won a match, and then you lose or you are in the finals, take the brackets to the ODE stage, collect your prizes there, then bring back the brackets to the table for the remaining players.<br/>.<br/>.</li>
  <li>Does everybody know how to draft?</li>
  <li>The land station is over there. Please return your basic lands after the event.<br/>.</li>
  <li>This is my final ruling. Do you want to appeal to the Head Judge?</li>
  <li>My understanding of what happened in the game is this.</li>
  <li>This is a good question.</li>
  <li>I will translate our dialog to your opponent.</li>
  <li>Let's play Judge Tower.</li>
  <li>...</li>
</ul>
