
<h1>Useful sentences (3/4)</h1>
<ul>
  <li>Please can you pass the product towards the end of the row?</li>
  <li>Who has not received his playmat yet?<br/>.</li>
  <li>What is your name?</li>
  <li>May you write your name here?<br/>.</li>
  <li>You should fill this form, write down your problem and give it to the scorekeeper. He will take care of it.<br/>.</li>
  <li>I will need to find a Level 3 judge to confirm my ruling. Please be patient.<br/>.</li>
  <li>I will need to involve the Head Judge in this situation. Meanwhile do not talk to each other.</li>
  <li>My name is [X] and I will be your Head Judge for this event.</li>
  <li>You have fifty minutes and you may begin.</li>
  <li>Bring your result slip to the main stage.<br/>.</li>
  <li>This deckbox is inapproriate.</li>
  <li>You will have to find or buy a new copy of this card, otherwise it will be replaced by a basic land of your choice.</li>
  <li>Please take care of your belongings, there have been thefts today. I suggest you to keep your bag between your legs.</li>
</ul>
