
<h1>Useful sentences (2/4)</h1>
<ul>
  <li>Here is the Oracle text of this card.<br/>.</li>
  <li>These three sleeves are marked.</li>
  <li>You will have to change these sleeves before the start of the next round.<br/>.</li>
  <li>You must either have opaque sleeves for your double-faced cards, or use checklist cards instead.<br/>.</li>
  <li>Judge, my opponent is not there.</li>
  <li>Call a judge when the clock hits 40 or when your opponent comes back. If he comes back before 40, he will get a Game Loss and you will be given a time extension for your match. Otherwise you will win your match.<br/>.</li>
  <li>You are five minutes late. You will receive a Game Loss for Tardiness.<br/>.</li>
  <li>Ten minutes have passed and your opponent has not arrived, so you win your match. Please fill your result slip as if you had won 2-0 and sign it.<br/>.</li>
  <li>Please let me remind both of you that you cannot offer anything in exchange of a result or a concession.<br/>.</li>
  <li>You are not allowed to use any random methods to determine the winner of this match, such as rolling a dice or revealing the top card of your library.<br/>.</li>
  <li>If you have any question about what you can or cannot tell your opponent, feel free to ask me, but do so away from the table.</li>
</ul>
