
<h1>Frases útiles (3/4)</h1>
<ul>
  <li>Por favor, ¿puedes ir pasando el producto hacia el final de la fila?</li>
  <li>¿Quienes no han recibido su tapete todavía?</li>
  <li>¿Cómo te llamas?</li>
  <li>¿Puedes escribir tu nombre aquí?<br/>.</li>
  <li>Has de rellenar este formulario, escribir tu problema y entregárselo al scorekeeper. Él se encargará.<br/>.</li>
  <li>Necesito encontrar a un juez de nivel 3 para confirmar mi decisión. Por favor, espera un momento.</li>
  <li>Necesitaré llamar al juez principal en esta situación. Mientras tanto no habléis entre vosotros.</li>
  <li>Mi nombre es [X] y seré el juez principal de este evento.</li>
  <li>Tenéis cincuenta minutos y podéis empezar.</li>
  <li>Lleva tu hoja de resultados a la mesa de jueces del evento principal.</li>
  <li>Esta caja de mazo no es apropiada.</li>
  <li>Tendrás que conseguir una nueva copia de esta carta, en caso contrario será reemplazada por una tierra básica de tu elección.</li>
  <li>Por favor, tened cuidado de vuestras pertenencias, ha habido robos hoy. Os sugiero mantener vuestra bolsa/mochila entre las piernas.</li>
</ul>
