
<h1>Phrases utiles (3/4)</h1>
<ul>
  <li>S'il-vous-plaît pouvez-vous faire passer le produit vers le fond ?</li>
  <li>Qui n'a pas encore reçu son playmat ?<br/>.</li>
  <li>Quel est votre nom ?</li>
  <li>Pouvez-vous écrire votre nom ici ?<br/>.</li>
  <li>Remplissez ce formulaire en y indiquant votre problème, puis donnez-le au scorekeeper. Il s'en occupera.</li>
  <li>J'ai besoin de trouver un arbitre de Niveau trois pour confirmer ma décidion. Merci de patienter.</li>
  <li>Je dois aller chercher le Head-Judge dans cette situation. En attendant ne discutez pas entre vous.</li>
  <li>Mon nom est [X] et je serai votre Head-Judge pour cet évènement.</li>
  <li>Vous avez cinquante minutes et vous pouvez commencer à jouer.</li>
  <li>Apportez votre feuille de résultat à la table principale.</li>
  <li>Cette deckbox est inappropriée.</li>
  <li>Vous allez devoir trouver ou acheter un nouvel exemplaire de cette carte, autrement elle sera remplacée par un terrain de base de votre choix.</li>
  <li>Veuillez surveiller vos affaires, il y a eu des vols aujourd'hui. Je vous suggère de garder votre sac entre vos jambes.<br/>.</li>
</ul>
