
<h1>Les tournois</h1>
<ul>
  <li>le tournoi / l'évènement principal</li>
  <li>le tournoi construit / limité</li>
  <li>les évènements publics (programmés)</li>
  <li>évènements à la demande</li>
  <li>feuille de résultat</li>
  <li>lots, structure des lots</li>
  <li>tickets de lots</li>
  <li>carnet de notes</li>
  <li>compteur de points de vie</li>
  <li>un dé, deux dés</li>
  <li>(doubles) pochettes</li>
  <li>tapis de jeu</li>
  <li>boîte de deck</li>
  <li>le chaos draft</li>
  <li>un pod de draft</li>
  <li>appariement croisé</li>
  <li>ronde en élimination directe</li>
  <li>en salle</li>
  <li>paquets de terrains</li>
  <li>le booster</li>
  <li>remplir la feuille d'inscription</li>
  <li>prénom / nom (de famille)</li>
  <li>brackets</li>
  <li>point de rassemblement</li>
  <li>contrôle de la foule</li>
  <li>poubelle</li>
  <li>scotch (ruban adhésif)</li>
  <li>(paire de) ciseaux</li>
  <li>faire la queue</li>
  <li>la file d'inscription</li>
  <li>logistique</li>
  <li>Niveau d'Application des Règles</li>
  <li>convivial, compétitif, professionnel<br/>.</li>
  <li>le Programme d'Arbitrage</li>
  <li>le Programme Exemplaire</li>
  <li>un environnement accueillant,<br/>sûr et inclusif</li>
</ul>
