
<h1>The tournaments</h1>
<ul>
  <li>the main tournament / event</li>
  <li>the constructed / limited tournament</li>
  <li>(scheduled) public events</li>
  <li>on-demand events</li>
  <li>result slip</li>
  <li>prizes, prize structure</li>
  <li>prize tickets</li>
  <li>notepad</li>
  <li>life counter</li>
  <li>one die, two dice</li>
  <li>(inner) sleeves</li>
  <li>playmat</li>
  <li>deckbox</li>
  <li>the chaos draft</li>
  <li>a draft pod</li>
  <li>cross pairing</li>
  <li>single-elimination round</li>
  <li>on the floor</li>
  <li>landpacks</li>
  <li>the booster pack</li>
  <li>to fill the registration sheet</li>
  <li>first name / last name</li>
  <li>brackets</li>
  <li>meeting point</li>
  <li>crowd control</li>
  <li>dustbin</li>
  <li>rubber tape</li>
  <li>scissors</li>
  <li>to queue</li>
  <li>the registration queue</li>
  <li>logistics</li>
  <li>Rules Enforcement Level</li>
  <li>regular, competitive, professional<br/>.</li>
  <li>the Judge Program</li>
  <li>the Exemplar Program</li>
  <li>a welcoming, safe and<br/>inclusive environment</li>
</ul>
