
<h1>I tornei</h1>
<ul>
  <li>il main torneo / evento</li>
  <li>il torneo costruito / limited</li>
  <li>gli eventi pubblici (programmati)</li>
  <li>tornei a otto persone</li>
  <li>foglietto dei risultati</li>
  <li>premi, stuttura dei premi</li>
  <li>biglietti di premio</li>
  <li>blocchetto delle note</li>
  <li>segna puntivita</li>
  <li>un dado, due dadi</li>
  <li>bustine (perfect size)</li>
  <li>tappetino</li>
  <li>portamazzo</li>
  <li>il chaos draft</li>
  <li>un pod del draft</li>
  <li>abbinamenti incrociati</li>
  <li>round a eliminazione diretta</li>
  <li>in sala</li>
  <li>pacchetti di terre</li>
  <li>la bustina</li>
  <li>compilare il modulo di registrazione</li>
  <li>nome/ cognome</li>
  <li>tabellone a eliminazione diretta</li>
  <li>punto di incontro</li>
  <li>controllo della folla</li>
  <li>bidone</li>
  <li>scotch</li>
  <li>forbici</li>
  <li>fare la fila</li>
  <li>la fila delle iscrizioni</li>
  <li>logistica</li>
  <li>livello di applicazione delle regole</li>
  <li>amatoriale, competitivo,<br/>professionistico</li>
  <li>il programma arbitrale</li>
  <li>il programma Exemplar</li>
  <li>un ambiente sano, inclusivo e<br/>dove tutti sono i benvenuti</li>
</ul>
