
<h1>Los torneos</h1>
<ul>
  <li>el torneo / evento principal</li>
  <li>el torneo de construido / limitado</li>
  <li>eventos públicos (programados)</li>
  <li>eventos bajo demanda</li>
  <li>hoja de resultados</li>
  <li>premios, estructura de premios</li>
  <li>tique de premio</li>
  <li>bloc de notas</li>
  <li>contador de vidas</li>
  <li>un dado, dos dados</li>
  <li>fundas (interiores)</li>
  <li>tapete</li>
  <li>caja de mazo</li>
  <li>el caos draft</li>
  <li>una mesa de draft</li>
  <li>emparejamientos cruzados</li>
  <li>ronda de eliminación simple</li>
  <li>en la sala</li>
  <li>paquetes de tierras</li>
  <li>el sobre</li>
  <li>rellenar la hoja de inscripción</li>
  <li>nombre / apellidos</li>
  <li>cuadros de eliminatoria</li>
  <li>punto de encuentro</li>
  <li>control de multitudes / cola</li>
  <li>cubo de la basura / basura</li>
  <li>celo / fiso / cinta adhesiva</li>
  <li>tijeras</li>
  <li>hacer cola</li>
  <li>la cola de registro</li>
  <li>logística</li>
  <li>Nivel de Imposición de Reglas</li>
  <li>normal, competitivo, profesional<br/>.</li>
  <li>el Programa de Jueces</li>
  <li>el Programa Ejemplar</li>
  <li>un ambiente acogedor,<br/>seguro e inclusivo</li>
</ul>
